

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
nav{
  display: flex;
  justify-content: space-around;
}
.banner h3{
  color: rgba(14, 14, 14, 0.5);
  font-size: 24px;
  font-weight: 400;
}
.banner h1{
  font-size: 54px;
  font-weight: 700;
  color: rgba(14, 14, 14, 1);
}
.btn-primary{
  background-color: rgba(0, 106, 80, 1);
  color: white;
  padding: 17px 34px;
  border-radius: 8px;
  border: none;
  font-size: 17px;
  font-weight: 300;
  
}

.banner{
  display: flex;
  
  background-color: rgba(198, 228, 214, 1);
  border-radius: 24px;
  padding: 40px 80px;
}
.vision{
  padding: 20px 50px;
}
.vision-container{
  margin: 24px;
  gap: 24px;
  padding: 20px;
  
}
.vision h2{
  font-size: 40px;
  font-weight: 700;
}
.vision p{
  font-size: 16px;
  font-weight: 400;
  
}
.vision-container{
  display: flex;

}
.vision-first-box{
  background-color: rgba(84, 144, 245, 0.2);
  border-radius: 18px;
  padding: 30px 20px;
}
.first-learn-btn{
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  background-color: rgba(84, 144, 245, 1);
  color: white;
  padding: 10px 20px;
  border: none;
}
.vision-second-box{
  background-color: rgba(198, 228, 214, 1);
  border-radius: 18px;
  padding:30px 20px;
}
.second-learn-btn{
  border-radius: 8px;
  background-color: rgba(9, 161, 92, 1);
  color: white;
  padding: 10px 20px;
  border: none;

}
.vision-third-box{
  background-color: rgba(247, 235, 207, 1);
  border-radius: 18px;
  padding:30px 20px;
}
.third-learn-btn{
  border-radius: 8px;
  background-color: rgba(255, 194, 57, 1);
  color: white;
  padding: 10px 20px;
  border: none;
}
.younus{
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.8);
  background-image: url(../assets/quote-bg.png);
  background-repeat: no-repeat;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 1);
  border: 5px;
}
.news{
  padding: 30px 30px;
}

.news-title{
  font-size: 40px;
  font-weight: 700;
  padding:40px 50px 24px ;
}
.news-p{
  padding: 0px 50px ;
}
.first-img{
  border-radius: 16px;
  margin:25px;
}
.box-right{

}
.news-container{
  padding-bottom: 24px ;
}
.first-title{
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 12px;
}
.news-prg{
  justify-content: center;
}
.news-btn{
  background-color: rgba(0, 106, 80, 1);
  color: white;
  padding: 13px 26px;
  border-radius: 16px;
  border: none;
}
.first-news-box{
  display: flex;
  padding: 50px;
  border-radius: 24px;
  background-color: rgb(243, 238, 238);
  padding: 60px ;
}


.second-title{
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 12px;
}
.news-prg{
  justify-content: center;
}
.news-btn{
  background-color: rgba(0, 106, 80, 1);
  color: white;
  padding: 13px 26px;
  border-radius: 16px;
  border: none;
}
.second-news-box{
  display: flex;
  padding: 50px;
  border-radius: 24px;
  background-color: rgb(243, 238, 238);
  padding: 60px ;
  

}
main{
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px;
}
/* donate style */
.donate{
  text-align: center;
}
.donate-title{
  font-size: 40px;
  font-weight: 800;
}
.donate-description{
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
  padding-top: 24px;
}

.ammount-container{
  display: flex;
  justify-content: center;
  margin: 0px auto;
  
}
.ammount-box{
  height: 150px;
  width: 300px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  margin: 20px;
  border:5px solid black;
  align-items: center;
  border-radius: 16px;
  border: none;
  font-size: 40px;
  font-weight: 700;

}
.input-ammount input{
  font-size: 25px;
  height: 50px;
  width: 1232px;
  padding: 30px;
  text-align: center;
  border: none;
  background-color:beige;
  
}
.donate-btn{
  background-color: rgba(0, 106, 80, 1);
  color: white;
  padding: 17px 34px;
  border-radius: 8px;
  border: none;
  
}
.subscribe{
  padding-top: 30px 100px;
  background-color: rgba(198, 228, 214, 1);
  border-radius: 16px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: 30px;
}

.subscribe-title{
  font-size: 40px;
  font-weight: 700;
  
  
}
.subscribe-description{
  font-size: 16px;
  font-weight: 300px;
  color: rgba(14, 14, 14, 0.7);
}
.search{
  display: flex;
  align-items: center;
  gap: 0;
  
}
.search input{
  border: none;
  padding: 20px 100px;
  border-radius: 8px 0 0 8px;
}
.search button{
  padding: 19px 30px;
  background-color:rgba(0, 106, 80, 1);
  color: white;
  border: none;
  border-radius: 0 8px 8px 0;
}
.footer-container{

  
}
.footer-title{
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-description{
  display: flex;
  justify-content: center;
  gap: 10px;
}
